<h1>Produtos Cadastrados</h1>

<%if @product_models.empty? %>
  Não existem produtos cadastrados no sistema
<% else %>
  <% @product_models.each do |pm| %>
    <h3><%=link_to(pm.name, pm) %></h3>
    <li>SKU: <%= pm.sku_code %></li> 
    <li>Fornecedor: <%= pm.supplier.trade_name %></li> 
    <li>Dimensões:<%= pm.dimensions %></li> 
  <% end %>
<% end %>