<h1><%= @product_bundle.name %></h1>
SKU: <%= @product_bundle.sku_code %>

<dl>
Produtos:
<% @product_bundle.product_models.each do |p| %>
  <li><%= p.name %></li>
<% end %>
</dl>

<%= link_to 'Voltar', product_bundles_path %>
