<h1>Galpões Encontrados</h1>

  <% if @warehouses.empty? %>
    Nenhum resultado encontrado
  <% else %>
    <ul>
      <% @warehouses.each do |warehouse| %>
      <li>
        <%= link_to("#{warehouse.name}", warehouse_path(warehouse.id)) %>
        <%= " (#{warehouse.code}) | Localização: #{warehouse.city} - #{warehouse.state}" %>
      </li>
      <% end %>
    </ul>
  <% end %>
